<!DOCTYPE html>
<html>
<head>
  <title>The DevADE Shop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='frame'>
		<header>

			<h1><%= link_to 'The DevADE Shop', '/home' %></h1>
			<ul>
				<li><%= link_to 'Home', '/home' %></li>
				<li><%= link_to 'About', '/about' %></li>
				<li><%= link_to 'Contact', '/contact' %></li>
			</ul>
			
		</header>	
		<div class='content'>
		  
		  <% if flash[:notice] %>
		    <p><%= flash[:notice] %></p>
		  <% end %>
		  
			<%= yield %>
		</div>
	</div>
	<footer>
		<p>
			&copy; 2012 The DevADE Shop
		</p>
	</footer>

</body>
</html>
